.AddTodo {
  width: 100%;

  input[id="input"] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
  }
}

.Todo {
  width: 100%;
}
